<?xml version="1.0" encoding="UTF-8"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <appSettings>
    <add key="basePath" value="..\\Search\\XSLT\\" />
    <add key="Section49XSLEnglish" value="\\Section49.xsl" />
    <add key="Section49XSLZulu" value="\\Zulu\\Section49.xsl" />
    <!--Crystal Report Setting-->
    <add key="DBName" value="Ethekwini_GV_2022" />
    <add key="DBLogin" value="GV2022_User" />
    <add key="DBPassword" value="******" />
    <add key="DBServerName" value="WINEFMVA_DB06" />
    <add key="ReportsRootPath" value="D:\ValuationRoll_2022\Reports\" />
    <add key="PDFPhysicalPath" value="C:\Test\" />
    <add key="SOURCEID" value="A01" />
    <add key="IsRateNumber" value="TRUE" />
    <add key="IsProfileShow" value="TRUE" />
  </appSettings>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=WINEFMVA_DB06;Initial Catalog=Ethekwini_GV_2022;Persist Security Info=True;User ID=GV2022_User;Password=******" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
	 
	<httpRuntime enableVersionHeader="false" />
	  
    <pages theme="Default" />
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows">
    </authentication>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
    </customErrors>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers></system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
  <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" /></handlers><validation validateIntegratedModeConfiguration="false" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
				<add value="" />
				<!--PropertySearch.htm-->
			</files>
        </defaultDocument></system.webServer>
</configuration>