body 
{
	margin:0px;
	/*top:0px;
	left:0px;
	margin-left:0px;
	margin-right:0px;
	height:100%;
	margin-bottom:0px;*/
	FONT-FAMILY:helvetica; 
	font-size: 11pt;
}
.tableWithBorderCSS
{
	
	BORDER-COLLAPSE: collapse;  
	borderColor:#676534; 
	rules:all;  
	bgColor:#ffffff;
	border:1; 
	font-family:Arial;
	font-size:10px;
	
	
}
.windowHeader
{
	font-size:12px;
	color:black;
	font-weight:bold;
	background-color: #B0C4DE;
	font-family: Arial;
	height:18px;	
	vertical-align:middle;
	border-bottom-style:ridge;
}

.windowSubHeader
{
	font-size:12px;
	color:black;
	font-weight:bold;
	background-color: #D3D3D3;
	font-family: Arial;
	height:18px;	
	vertical-align:middle;
	border-bottom-style:ridge;
}

.widowRowCaption
{
	font-size:11px;
	color:black;
	font-weight:normal;
	background-color:#DCDCDC; 
	font-family:Arial;
	vertical-align:middle;
	padding-left:5px;
	border-style:ridge;
	margin-bottom:10px;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;

}
.windowRowContent
{
	padding-left:8px;
	border-bottom-style:inset;
}

.RowHeader
{

	align:center;
	vertical-align:middle;	
	
}
.drpDown
{
  width:100px;	
  font-size:10px;
  font-family:Arial;
  margin-left:10px;
	
}

.txtSearch
{
	 width:150px;	
  font-size:10px;
  font-family:Arial;
  margin-left:10px;		
}
.resultPanel
{
		margin-top:10px;
		height:400px;
		overflow:auto;
		 border:solid 1px #F4DDA0;
		/*overflow:scroll;*/
		overflow-x:hidden;
		overflow-y: scroll;
		scrollbar-face-color: #F4DDA0;
	    scrollbar-highlight-color: #FFFFFF;
	    scrollbar-shadow-color: #FFFFFF;
        scrollbar-3dlight-color: #336182;
        scrollbar-arrow-color: #F2A18C;
		scrollbar-track-color: #FFFFFF;
		font-family:Verdana;
		font-size:12px;
		color:black;
}






.searchResultCaption
{
   background-color:#676060;
   font-size:14px;
   font-weight:bolder;	
   color:White;
   font-weight:bolder;
}
.searchResultTable
{
	BORDER-COLLAPSE: collapse;  
	borderColor:#676534; 
	rules:all;  
	bgColor:#ffffff;
	border:1; 
	font-family:Arial;
	font-size:12px;		
	
}
.SearchResultRowHeader
{
  	font-size:14px;
	color:black;
	font-weight:normal;
	background-color:#DCDCDC; 
	font-family:Arial;
	vertical-align:middle;
	padding-left:5px;
	border-style:ridge;
	border-spacing:2px;
	margin-bottom:10px;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	
}	
	

.color1
{
  background-color:#E6E6FA;	
}
.color0
{
 /* background-color:Red;	*/
}






/* Footer */

.bottomText
{
	FONT-SIZE: 7pt; COLOR: White; FONT-FAMILY:verdana,arial,helvetica; text-decoration:none;
}

.DbottomText:link{FONT-SIZE: 8pt; COLOR: White; FONT-FAMILY:verdana,arial,helvetica; text-decoration:none; font-weight:bold;   }
.DbottomText:visited{FONT-SIZE: 8pt; COLOR: White; FONT-FAMILY:verdana,arial,helvetica;text-decoration:none; font-weight:bold; }
.DbottomText:hover{FONT-SIZE: 8pt; COLOR: White; FONT-FAMILY:verdana,arial,helvetica; text-decoration:underline;font-weight:bold; }
.DbottomText:active{FONT-SIZE: 8pt; COLOR: White; FONT-FAMILY:verdana,arial,helvetica; text-decoration:none;font-weight:bold; }

.searchResultTblLink:link{FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY:verdana,arial,helvetica; text-decoration:underline; font-weight:normal;   }
.searchResultTblLink:visited{FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY:verdana,arial,helvetica;text-decoration:underline; font-weight:normal; }
.searchResultTblLink:hover{FONT-SIZE: 8pt; COLOR: Red ; FONT-FAMILY:verdana,arial,helvetica; text-decoration:underline;font-weight:normal; }
.searchResultTblLink:active{FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY:verdana,arial,helvetica; text-decoration:underline;font-weight:normal; }



/* Search Criteria*/
.SearchBlank
{
	height:10px;
}
.FormH
{
	FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY:verdana,arial,helvetica; text-decoration:none;
	/*font-weight:bold;*/
	background-color:#FFE4B5;
	padding-top:2px;
	padding-bottom:2px;
	text-indent:4px;
	padding-left:15px;
}
.FormH p{
	margin:0;
}

/*.button
{
 	FONT-SIZE: 9pt; COLOR: black; text-decoration:none;
}*/

.windowRowContentSearch
{
	padding-right: 0mm;
	padding-left: 0mm;
	border-bottom: gainsboro 0px solid;
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	font-size: 10pt;
	
}


.windowHeaderSearch
{
	font-size: 8pt;
	color: black;
	font-weight: bold;
	background-color: #D3D3D3;
	font-family: Arial;
	height: 10px;
	vertical-align: middle;
	
}
.widowRowCaptionSearch
{
	background-color: #ADD8E6;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: whitesmoke 1px solid;
	padding-left: 5px;
	color: black;
	font-size:10pt;
	width:10%;
	
}
.widowRowCaptionSearch2
{
	background-color: #ADD8E6;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: whitesmoke 1px solid;
	padding-left: 1px;
	color: black;
	font-size:7pt;
	
	
}

.searchContentRowStyle
{
	border-bottom-style:inset;
	border-bottom: whitesmoke 1px solid;
	background-color:#F5F5F5;
}


.PaddingLeftSearch
{
   padding-left:15px;	
   
}
.PaddingSearchWidth
{
	width:1px;
	
}


.SearchsubBlank
{ 
	height:3px;
}


.button {
	border: whitesmoke 1px solid;
	color: #ffffff;
	font-size: 12pt;
	text-indent: 4px;
	border-color:none;
	background-color: #004fa3;
	padding-right: 30%;
	padding-left:23%;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	min-width: 100px;
	margin-right:1%;
}



.Loading
{
	
      position:absolute; 
      border:0px;
      border-style: solid; 
      padding: 25px; 
      color:Red; 
      font-size:10pt;
      border-color:Aqua;
      background-color:#d5692c;	
      filter:alpha(opacity=70);-moz-opacity:.50;opacity:.50;
	
}




.Message
{
  color:Red;
  font-size:14px;
	
	
}
.HeaderMessage {
	color: Red;
	background-color: Yellow;
	font-size: 14px;
	font-weight: bolder;
}

.FooterRegards
{
	
}

.homeMessage
{
	padding-left:15px;	
	font-size:12px;
	FONT-FAMILY:verdana,arial,helvetica; 
}
.chkBox
{
	font-size:10px;
	FONT-FAMILY:verdana,arial,helvetica; 	
}
.topHeading
{
 font-size:12px;
 color:White;	
 
}








